* {
  box-sizing: border-box;
}
body {
  font-family: Tahoma, Arial;
}
.container {
  margin: 20px auto;
  width: 1000px;
}
.row {
  display: flex;
}
hr {
  border: 1px solid #eee;
}
.game-info {
  display: flex;
}
.game-info .game-name {
  flex: 1;
}
.game-info .category {
  flex: 1;
  text-align: right;
}
.game-info .category span {
  text-transform: capitalize;
  color: #e91e63;
  font-weight: bold;
}
.hangman-draw {
  flex: 1;
  background-color: #f8f8f8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}
.hangman-draw .the-stand {
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}
.hangman-draw .the-hang {
  display: none;
}
.hangman-draw .the-hang:before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-hang:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}
.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}
.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
  display: none;
}
.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
  display: none;
}
.hangman-draw .the-man .hands {
  display: none;
}
.hangman-draw .the-man .hands:before {
  left: 85px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .hands:after {
  left: 130px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .hands:before,
.hangman-draw .the-man .hands:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 140px;
}
.hangman-draw .the-man .legs {
  display: none;
}
.hangman-draw .the-man .legs:before {
  left: 85px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .legs:after {
  left: 130px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .legs:before,
.hangman-draw .the-man .legs:after {
  content: "";
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 220px;
}
.hangman-draw.wrong-1 .the-draw {
  display: block;
}
.hangman-draw.wrong-2 .the-stand {
  display: block;
}
.hangman-draw.wrong-3 .the-hang {
  display: block;
}
.hangman-draw.wrong-4 .the-rope {
  display: block;
}
.hangman-draw.wrong-5 .head {
  display: block;
}
.hangman-draw.wrong-6 .body {
  display: block;
}
.hangman-draw.wrong-7 .hands {
  display: block;
}
.hangman-draw.wrong-8 .legs {
  display: block;
}
.letters {
  flex: 1;
  padding: 15px;
  text-align: center;
}
.letters.finished {
  pointer-events: none;
}
.letters .letter-box {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
.letters .letter-box.clicked {
  background-color: #222;
  opacity: 0.2;
  pointer-events: none;
}
.letters-guess {
  margin: 10px auto;
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 104px;
}
.letters-guess span {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: 10px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fdfdfd;
  border-bottom: 3px solid #222;
  transition: 0.3s;
}
.letters-guess span.with-space {
  background: none;
  border-bottom: none;
  position: relative;
}
.letters-guess span.with-space:before {
  content: "";
  width: 20px;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup {
  position: fixed;
  background-color: #009688;
  padding: 100px 20px;
  width: 80%;
  top: 10%;
  left: 10%;
  text-align: center;
  font-size: 40px;
  border: 1px solid #ccc;
  color: #fff;
}
/* my code */

/* * {
  box-sizing: border-box;
}

body {
  background-color: rgb(113, 41, 230);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: white;
  margin: 30px;
  text-align: center;
}

.container h2 {
  margin: 0;
  font-size: 30px;
}

.container .wrong {
  margin: 60px auto 0;
  height: 80px;
}

.container .wrong span {
  font-size: 25px;
}

.container .wrong .wrong-letters {
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container .wrong .wrong-letters span {
  border: 2px solid white;
  color: red;
  padding: 5px;
}

.container .horca {
  margin: 100px auto 0;
  background-color: rgb(97, 32, 200);
  width: 300px;
  height: 300px;
  position: relative;
}

.container .horca .man {
  display: none;
}

.container .horca div {
  background-color: white;
  position: absolute;
}

.container .horca div:nth-of-type(1) {
  width: 100px;
  height: 5px;
  bottom: 0;
  left: 0;
}

.container .horca div:nth-of-type(2) {
  width: 5px;
  height: 100%;
  bottom: 0;
  left: 50px;
}

.container .horca div:nth-of-type(3) {
  width: 100px;
  height: 5px;
  left: 50px;
}

.container .horca div:nth-of-type(4) {
  width: 5px;
  height: 50px;
  left: 150px;
}

.container .horca div:nth-of-type(5) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: transparent;
  left: 125px;
  top: 50px;
}

.container .horca div:nth-of-type(6) {
  width: 5px;
  height: 100px;
  left: 150px;
  top: 100px;
}

.container .horca div:nth-of-type(7) {
  width: 5px;
  height: 50px;
  left: 150px;
  top: 130px;
  transform: rotate(120deg);
  transform-origin: top;
}

.container .horca div:nth-of-type(8) {
  width: 5px;
  height: 50px;
  left: 150px;
  top: 130px;
  transform: rotate(-120deg);
  transform-origin: top;
}

.container .horca div:nth-of-type(9) {
  width: 5px;
  height: 50px;
  left: 150px;
  top: 200px;
  transform: rotate(45deg);
  transform-origin: top;
}

.container .horca div:nth-of-type(10) {
  width: 5px;
  height: 50px;
  left: 150px;
  top: 200px;
  transform: rotate(-45deg);
  transform-origin: top;
}

.word {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.word .letter-container {
  font-size: 25px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.word .letter-container .letter {
  display: none;
  height: calc(30px - 4px);
}

.word .letter-container .border {
  align-self: flex-end;
  display: block;
  background-color: rgb(43, 99, 252);
  width: 100%;
  height: 4px;
}

.same-letter {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgb(97, 32, 200);
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.5s;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 40%);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup.show {
  display: flex;
}

.popup .content {
  background-color: rgb(198, 35, 198);
  color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 5px black;
}

.popup #play-again {
  border: 0;
  background-color: white;
  color: rgb(198, 35, 198);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: inherit;
  cursor: pointer;
}

.same-letter.show {
  bottom: 0;
  text-align: center;
  line-height: 1.6;
} */
