body {
  height: 5000px;
}
span {
  font-family: Arial, Helvetica, sans-serif;
  background-color: crimson;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  position: fixed;
  right: -60px;
  bottom: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.up.show {
  right: 20px;
}
